[submodule "addons/ulib"]
	path = addons/ulib
	url = https://github.com/TeamUlysses/ulib.git
[submodule "addons/ulx"]
	path = addons/ulx
	url = https://github.com/TeamUlysses/ulx.git
[submodule "addons/URS"]
	path = addons/URS
	url = https://github.com/Aaron113/URS.git
[submodule "addons/EPOE"]
	path = addons/EPOE
	url = https://github.com/Metastruct/EPOE.git
[submodule "addons/pac3"]
	path = addons/pac3
	url = https://github.com/CapsAdmin/pac3.git
[submodule "addons/Falcos-Prop-protection"]
	path = addons/Falcos-Prop-protection
	url = https://github.com/FPtje/Falcos-Prop-protection.git
