[submodule "addons/ulib"]
	path = addons/ulib
	url = https://github.com/TeamUlysses/ulib.git
[submodule "addons/ulx"]
	path = addons/ulx
	url = https://github.com/TeamUlysses/ulx.git
[submodule "addons/urs"]
	path = addons/urs
	url = https://github.com/Aaron113/URS.git
[submodule "addons/epoe"]
	path = addons/epoe
	url = https://github.com/Metastruct/EPOE.git
[submodule "addons/pac3"]
	path = addons/pac3
	url = https://github.com/CapsAdmin/pac3.git
[submodule "addons/falcos-prop-protection"]
	path = addons/falcos-prop-protection
	url = https://github.com/FPtje/Falcos-Prop-protection.git
[submodule "addons/fpp"]
	path = addons/fpp
	url = https://github.com/FPtje/Falcos-Prop-protection.git
[submodule "addons/loadables_hidden"]
	path = addons/loadables_hidden
	url = git@github.com:mrpotatofactory/loadables_hidden.git
